.main-header, #footer {
    background-color: #003b64;
    min-height: 100px;
}

li.nav-item {
    color: white;
    padding: 35px;

}

li > img {
    margin: 20px;
}

.warranty {
    border: 1px solid black;
    min-height: 50px;
    margin: 5px;
    border-radius: 10px;
    text-align: center;
    line-height: 50px;

}


#footer {
    position: fixed;
    bottom:0;
    min-height: 200px;
}
